body {
    max-width: 1040px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    font-family: 'Indie Flower', cursive;
}

.d-flex {
    display: flex;
}

.p-3,
.py-3,
.pt-3 {
    padding-top: 1rem;
}

.p-3,
.px-3,
.pr-3 {
    padding-right: 1rem;
}

.p-3,
.py-3,
.pb-3 {
    padding-bottom: 1rem;
}

.p-3,
.px-3,
.pl-3 {
    padding-left: 1rem;
}

h1 {
    font-size: 5rem;
}

.container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: darkslategrey;
}

.btn {
    border: 3px solid darkslategrey;
    border-radius: 20%;
    background-color: ivory;
    text-transform: uppercase;
    font-family: 'Indie Flower';
    margin: 2rem;
}

.mainBtn {
    width: 12rem;
    height: 5rem;
    font-size: 3rem;
}

.subBtn {
    width: 7rem;
    height: 3rem;
    font-size: 1.5rem;
}

.taskList {
    width: 20rem;
    height: 20rem;
    border: 3px solid darkslategrey;
    border-radius: 20%;
    background-color: ivory;

}